@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-VariableFont_wght.ttf');
}

$font-inter: 'Inter', Helvetica, Arial, sans-serif;
$font-karla: 'Karla', Helvetica, Arial, sans-serif;
