$primary-color: #1d3d91;
$secondary-color: #ff8a00;
$border-color: #d0d0d0;
$text-color: #1c1c1c;
$dark-green: #0b615c;
$light-green: #62d99b;
$dark-gray: #696969;
$medium-gray: #efefef;
$body-background: #f9f9f9;
$border: #d0d0d0;
$red: #f36957;
