@use './abstracts/' as *;

/* Hide scrollbars for navigation */
.hoverable-navigation {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Force scrolling to work */
  white-space: nowrap;
}

.navbar {
  .menu-bar {
    li {
      &:hover {
        &::after {
          display: none;
        }
      }
      &.group {
        > a {
          padding-bottom: 24px;
          transition-duration: 200ms;
          border-bottom: 2px solid transparent;
        }
        &:hover {
          > a {
            border-bottom: 2px solid $primary-color;
          }
        }
      }
    }
  }
  button {
    &:focus-visible,
    &:focus {
      outline: none;
    }
  }
}
html.af {
  .navbar {
    .menu-bar {
      li {
        &.group {
          &:hover {
            > a {
              border-bottom: 2px solid $secondary-color;
            }
          }
        }
      }
    }
  }
}

.mega-menu {
  .container {
    > section {
      border-right: 1px solid $border-color;
      width: 21%;
      margin: 1.25rem 1rem;
      > section {
        margin-left: 0;
        a {
          &:hover {
            opacity: 0.8;
          }
        }
      }
      &:first-of-type {
        width: calc(21% + 1.25rem);
        > section {
          margin-left: 0;
          padding: 2rem 0;
          a,
          p {
            font-size: 1.4rem;
          }
        }
      }
      &:not(:first-of-type) {
        > section {
          margin-bottom: 0 !important;
          &:not(:first-of-type) {
            margin-top: 0 !important;
          }
          &:last-of-type {
            margin-bottom: 1.25rem !important;
          }
        }
        .toggle:has(.toggle-content) {
          .toggle-label {
            &:after {
              content: '';
              width: 20px;
              height: 20px;
              display: inline-block;
              background-color: currentColor;
              mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z'/%3E%3C/svg%3E")
                no-repeat center;
              mask-size: contain;
              transition: transform 0.15s ease-out;
            }
          }
          .toggle-input {
            display: block !important;
            &:hover {
              cursor: pointer;
              ~ .toggle-label {
                opacity: 0.8;
              }
            }
            &:checked {
              ~ .toggle-content {
                max-height: 1000px;
                opacity: 1;
                margin-bottom: 1.25rem;
                transition:
                  max-height 0.2s ease-out,
                  opacity 0.2s ease-out,
                  margin-bottom 0.2s ease-out;
              }
              ~ .toggle-label {
                &:after {
                  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z' clip-rule='evenodd'/%3E%3C/svg%3E")
                    no-repeat center;
                  transform: rotate(0deg);
                }
              }
            }
            &:not(:checked) {
              ~ .toggle-content {
                max-height: 0;
                opacity: 0;
                margin-bottom: 0;
                overflow: hidden;
                transition:
                  max-height 0.2s ease-out,
                  opacity 0.2s ease-out,
                  margin-bottom 0.2s ease-out;
              }
              ~ .toggle-label {
                &:after {
                  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z'/%3E%3C/svg%3E")
                    no-repeat center;
                  transform: rotate(0deg);
                }
              }
            }
          }
        }
      }
      &:nth-child(4) {
        border-right: 0;
      }
    }
  }
}

.sub-menu {
  .sub-menu_children {
    > section {
      &:first-of-type {
        margin-top: 2rem;
        margin-bottom: 2rem;
        a,
        p {
          font-size: 1.5rem;
        }
      }
      > section {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
      .toggle:has(.toggle-content) {
        .toggle-label {
          &:after {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            background-color: currentColor;
            mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z'/%3E%3C/svg%3E")
              no-repeat center;
            mask-size: contain;
            transition: transform 0.15s ease-out;
          }
        }
        .toggle-input {
          display: block !important;
          &:hover {
            cursor: pointer;
            ~ .toggle-label {
              opacity: 0.8;
            }
          }
          &:checked {
            ~ .toggle-content {
              max-height: 1000px;
              opacity: 1;
              margin-bottom: 1.25rem;
              transition:
                max-height 0.2s ease-out,
                opacity 0.2s ease-out,
                margin-bottom 0.2s ease-out;
            }
            ~ .toggle-label {
              &:after {
                mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill-rule='evenodd' d='M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z' clip-rule='evenodd'/%3E%3C/svg%3E")
                  no-repeat center;
                transform: rotate(0deg);
              }
            }
          }
          &:not(:checked) {
            ~ .toggle-content {
              max-height: 0;
              opacity: 0;
              margin-bottom: 0;
              overflow: hidden;
              transition:
                max-height 0.2s ease-out,
                opacity 0.2s ease-out,
                margin-bottom 0.2s ease-out;
            }
            ~ .toggle-label {
              &:after {
                mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z'/%3E%3C/svg%3E")
                  no-repeat center;
                transform: rotate(0deg);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header-usp {
    li {
      -webkit-animation: scrollText 20s infinite;
      -o-animation: scrollText 20s infinite;
      animation: scrollText 20s infinite;
    }
  }
}

@-webkit-keyframes scrollText {
  0%,
  20%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  25%,
  45%,
  75%,
  95% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50%,
  70% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
}

@-o-keyframes scrollText {
  0%,
  20%,
  to {
    transform: translateZ(0);
  }

  25%,
  45%,
  75%,
  95% {
    transform: translate3d(0, -100%, 0);
  }

  50%,
  70% {
    transform: translate3d(0, -200%, 0);
  }
}

@keyframes scrollText {
  0%,
  20%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  25%,
  45%,
  75%,
  95% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50%,
  70% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
}
