.layout-full-width {
  .zsBannerBlock {
    .banner-container {
      border-radius: 0 !important;
    }
  }
}

.layout-two-column {
  .auto-width-text {
    .texteditor-block {
      max-width: 70%;
      margin: 0 auto;
      @media screen and (min-width: 640px) {
        min-width: 400px;
      }
    }
  }
  img.image-block {
    width: 100%;
    height: auto;
  }
  .swiper {
    .swiper-slide {
      max-width: 250px;
    }
  }
}

// Grid-based column distribution (replaces flex-based)
.grid-75 {
  grid-template-columns: 3fr 1fr;
}

.grid-66 {
  grid-template-columns: 2fr 1fr;
}

.grid-50 {
  grid-template-columns: 1fr 1fr;
}

.grid-33 {
  grid-template-columns: 1fr 2fr;
}

.grid-25 {
  grid-template-columns: 1fr 3fr;
}

@media screen and (max-width: 768px) {
  .grid-75,
  .grid-66,
  .grid-33,
  .grid-25 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

// Keep flex classes for backward compatibility (but they won't work in grid containers)
.flex-75 {
  section:nth-child(odd) {
    flex: calc(75% - 1rem);
  }
  section:nth-child(even) {
    flex: calc(25% - 1rem);
  }
}

.flex-66 {
  section:nth-child(odd) {
    flex: calc(66% - 1rem);
  }
  section:nth-child(even) {
    flex: calc(33% - 1rem);
  }
}

.flex-50 {
  section {
    flex: calc(50% - 1rem);
  }
}

.flex-33 {
  section:nth-child(odd) {
    flex: calc(33% - 1rem);
  }
  section:nth-child(even) {
    flex: calc(66% - 1rem);
  }
}

.flex-25 {
  section:nth-child(odd) {
    flex: calc(25% - 1rem);
  }
  section:nth-child(even) {
    flex: calc(75% - 1rem);
  }
}

@media screen and (max-width: 768px) {
  .flex-75,
  .flex-66,
  .flex-50,
  .flex-33,
  .flex-25 {
    section {
      flex: 100% !important;
    }
  }
}
