@use 'sass:meta';
@include meta.load-css('swiper/scss');
@include meta.load-css('swiper/scss/scrollbar');
@include meta.load-css('swiper/scss/navigation');
@include meta.load-css('swiper/scss/thumbs');

.thumbs-gallery__thumbnail-image {
  position: absolute;
  z-index: 10 !important;
  width: fit-content;
  // left: 1rem;
  margin: 0 !important;

  .swiper-wrapper {
    width: fit-content;
  }

  /*
  max-height: 550px;
  max-width: 140px;
  margin-right: 15px;
  &.lighbox {
    max-height: 100%;
    margin: 0 30px;
    flex-shrink: 0;
  }
    */
  .swiper-slide-visible img {
    border: 1px solid #efefef;
  }
  .swiper-slide-thumb-active img {
    border: 1px solid #000;
  }

  .swiper-slide {
    height: fit-content;
    margin: 0;
    max-width: 64px;
    margin-bottom: 6px !important;
    img {
      width: 100%;
    }
  }

  .thumbs-gallery__main-image {
    /* Force navigation arrow color via Swiper CSS variable */
    --swiper-navigation-color: #000 !important;
    max-width: 491px;
    &.lightbox {
      max-width: 75%;
    }
    &:not(.lightbox) {
      max-height: 748px;
      // overflow: hidden;
      margin: 0;
    }

    swiper-slide {
      display: flex;
      align-items: center;
    }
    .swiper-button-prev,
    .swiper-button-next {
      height: 3.5rem;
      width: 3.5rem;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid #efefef;
      background-color: #ffffff;
      box-sizing: border-box;
      color: #000 !important;
      &::after {
        font-size: xx-large;
      }
    }
    &.lightbox {
      .swiper-button-prev {
        left: 2px;
      }
      .swiper-button-next {
        right: 2px;
      }
    }
    svg path {
      fill: #000;
    }
  }

  .horizontal-gallery {
    /* Ensure horizontal gallery arrows match color */
    --swiper-navigation-color: #000 !important;
    &:not(.lightbox) {
      display: block;
      // max-height: 457px;
      // overflow: hidden;
      min-height: fit-content;
      max-height: fit-content !important;
    }

    &.lightbox {
      swiper-slide {
        padding-bottom: 70px;
      }
    }
  }

  .swiper-slide-active {
    img {
      max-height: 75vh;
    }
  }
}

/* Minimal overrides for navigation */
.thumbs-gallery__main-image {
  --swiper-navigation-color: #000 !important;
  --swiper-theme-color: #000 !important;
}
.thumbs-gallery__main-image.lightbox {
  --swiper-navigation-sides-offset: 8px !important;
}
.horizontal-gallery {
  --swiper-navigation-color: #000 !important;
  --swiper-theme-color: #000 !important;
}
